:root {
  /* Cores :D */
  --main-color: #1A6E54;
  --hover-main-color: #26825D;
  --button-color: #FFFFFF;
  --background-color: #FAF9F9;
  --main-neutral-color: #F5F5F5;
  --secondary-neutral-color: #D9D9D9;
  --title-text-color: #2F2F2F;
  --body-text-color: #454545;
  --secondary-body-text-color: #777777;

  /* Fontes :D */
  --font-size-base: 20px;
  --font-size-subtitulo: 32px;
  --font-size-titulo: 40px;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--body-text-color);
}

html {
  scroll-padding-top: 20px;
  scroll-behavior: smooth;
}

h1 {
  color: var(--title-text-color);
  font-size: var(--font-size-titulo);
}

h2 {
  color: var(--title-text-color);
  font-size: var(--font-size-subtitulo);
}

p {
  font-size: var(--font-size-base);
}